.header__title {
    margin-top: 0;
    margin-bottom: 0;
    width: 730px;
    left: 64px;
    padding-left: 64px;
    z-index: 2;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
}